<section>
  <div class="container-fluid">
    <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
      <div class="row justify-content-around mb-2">
        <div class="col-xl-11 col-md-11 col-sm-11 p-2">
          <div class="chart">
            <%= high_chart_globals(@chart_globals) %>
            <%= high_chart("my_chart", @chart2) %>
          </div>
        </div>
        <div class="col-xl-5 col-md-11 col-sm-11 p-2">
          <div class="chart">        
            <%= high_chart("my_chart2", @chart3) %>
          </div>
        </div>
        <div class="col-xl-5 col-md-11 col-sm-11 p-2">
          <div class="chart">        
            <%= high_chart("my_chart3", @chart4) %>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
  <section>
  <div class="container-fluid">

      <div class="col-xl-12 col-lg-12 col-md-12 ml-auto">
      <div class="row justify-content-around mb-2">
        <div class="col-xl-11 col-md-11 col-sm-11 p-2">
          <div class="chart">          
            <%= high_chart("my_bar_div", @bar) %>
          </div>
        </div>
      </div>

  </div>
</section>